body { 
	background-color: ${config['pallett.one']}; 
	font-family: Cambria, Georgia, 'Times New Roman', serif;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
#magical_thinking{
	font-weight: normal;
}
#topbar,#bottombar{
	width:100%;
	background:${config['pallett.five']};
	padding:0;
	margin:0;
	clear:both;
}
#topbar>p,#bottombar>p{
	margin:auto;
	padding-left:6em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	color:white;
	font-size:10pt;
}

h1{
	margin-top:100px;
	font-size:300%;
}
h3{
	font-weight:normal;
	font-size: 10pt;
	width:100%;	
	padding:0;
	margin:0;
	border-bottom:1px solid ${config['pallett.two']};
	border-top:1px solid ${config['pallett.three']};
}

a{
	text-decoration: none;
	font-weight: bold;
	color:${config['pallett.five']};
}
a.whitelink{
	color:white;
}
h1 a{
	font-weight: normal;
}
img{
	border:none;
}

/* Site holders */
#holder{
	width:940px;
	margin:0 auto;
}

#content{
	width:700px;
	float:left;
}

#menu{
	width:200px;
	float:left;
}

.structure{
	padding:0;
	margin:0;
	margin: 0 1em 0 0;
}

#menu .structure {
	font-size:8pt;
}

#menu ul {
	list-style:none;
	padding:0;
}

#menu ul>li{
	padding-bottom:0.5em;
}

/*Edit form*/
.edit .title{
	width:100%;
	font-size:14pt;
}

.edit .content{
	width:100%;
	height:10em;
	font-size:14pt;
}

.edit input{
	width:100%;
	font-size:14pt;
}

/*Post*/
.post{
	border-bottom:1px solid ${config['pallett.three']};
	float:left;
	width:100%;
	margin-bottom:1em;
}
.post_title{
}
.post_content{
	clear:both;
}
.post_meta{
	float:left;
	margin:0;
	padding:0;
	padding-left:2px;
	color:${config['pallett.two']};
	font-size:8pt;
}
.post_meta span{
	padding-left:2px;
}
.post_meta img{
}
.post_comments{
	clear:left;
}
.post_keywords{
	clear:both;
}
.post_meta_area{
	clear:right;
	float:left;
}